* {
    box-sizing: border-box;
}
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    background-color:aquamarine;
    width:90%;
    margin:auto;
    padding:15px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 3px gray;
}
.flex-container img{
    width:380px;
    height:250px;
}
.flex-container div{
    flex-basis: 40%;
    text-align: center;

}